SubmitSparkJob.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "<Synapse Workspace>"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/SubmitSparkJob')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "GenerateAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.tenantName,'/oauth2/token')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&client_id=',pipeline().parameters.clientId,'&resource=https://dev.azuresynapse.net &client_secret=',pipeline().parameters.clientSecret)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SubmitSparkJob",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GenerateAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.synapseDevEndpoint,'/livyApi/versions/2019-11-01-preview/sparkPools/',pipeline().parameters.sparkPoolName,'/batches?detailed=true')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',activity('GenerateAccessToken').output.access_token)",
									"type": "Expression"
								}
							},
							"body": {
								"value": "{\n  \"name\": \"SP_SparkJob\",\n  \"file\": \"abfss://batchjobs@data1alone1account.dfs.core.windows.net/wordcount.jar\",\n  \"className\": \"WordCount\",\n    \"args\": [\n      \"abfss://batchjobs@data1alone1account.dfs.core.windows.net/shakespeare.txt\",\n      \"abfss://batchjobs@data1alone1account.dfs.core.windows.net/resulttxt\"\n    ],\n  \"jars\": [],\n  \"files\": [],\n  \"archives\": [],\n  \"conf\": null,\n  \"driverMemory\": \"4g\",\n  \"driverCores\": 4,\n  \"executorMemory\": \"2g\",\n  \"executorCores\": 2,\n  \"numExecutors\": 2\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetSparkJobStatus",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait-5s",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.synapseDevEndpoint,'/livyApi/versions/2019-11-01-preview/sparkPools/',pipeline().parameters.sparkPoolName,'/batches/',activity('SubmitSparkJob').output.id,'?detailed=true')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {
								"Authorization": "@concat('Bearer ',activity('GenerateAccessToken').output.access_token)"
							}
						}
					},
					{
						"name": "Wait-5s",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "SubmitSparkJob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"tenantName": {
						"type": "string",
						"defaultValue": "<primaryDomain>"
					},
					"synapseDevEndpoint": {
						"type": "string",
						"defaultValue": "https://<Synapse Worskspace Name>.dev.azuresynapse.net"
					},
					"clientId": {
						"type": "securestring",
						"defaultValue": {
							"type": "SecureString",
							"value": "<Client Id>"
						}
					},
					"clientSecret": {
						"type": "securestring",
						"defaultValue": {
							"type": "SecureString",
							"value": "<Client Secret>"
						}
					},
					"sparkPoolName": {
						"type": "String",
						"defaultValue": "<Spark Pool Name>"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}